html, body, #root {
  
    h1 {
        text-align: center;
        margin-top: 60px;
    }


    .categoriesBox {
        justify-content: center;
        gap: 50px;
        min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .customLink{
        color : green
    }

    .customLink:hover{
        color: red;
    }
}

    
