.strName {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 5rem;;
  color: #333;
  text-align: center;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
}

.recepiBox {
  display: flex;
  align-items: flex-start;
  gap: 2rem; /* space between image and text */
}

.image {
  max-width: 700px;
  height: auto;
  border-radius: 20px;
  margin-left: 20px;
}

.recepiText {
  display: block;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(29, 222, 51);
  flex: 1;
  /* Space inside the border */
  padding: 15px;          
  margin: 15px;         
}
.detail {
    color: rgb(30, 214, 45);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.strInstructions {
  font-size: 1.2rem;
  margin-right: 30px;
  margin-bottom: 0.5rem;
}
input[type="text"] {
  width: 90%;
  padding: 8px 12px;
  margin: 10px 0 8px 0;
  border: 1.5px solid #1dde33;
  background-color: #27ee52;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
  max-width: 300px;
}


textarea {
  width: 90%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1.5px solid #1dde33;
  background-color: #27ee52;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s;
  max-width: 300px;
}
textarea:focus {
  border-color: #12f312;
}

.commentBar li {
  color:rgb(7, 7, 7);
  flex: 1;
  
}



.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 10px; 
}

.textElements {
  display: flex;
  flex-direction: column;
}

.commentForm {
  display: flex;
  flex-direction: row;

  button {
  background-color: #27ee52;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
  height: 2em;


  transition: 
    background 0.2s,
    color 0.2s,
    transform 0.2s,
    box-shadow 0.2s;

}


button:active {
  transform: scale(0.96);
  box-shadow: 0 2px 8px rgba(18, 243, 18, 0.18);
  background-color: #1dde33;
  color: #fff;
}

.commentSubmit {
  display: flex;
  flex-direction: column;
    margin-left: 10px;
}

  
}
