nav{
    
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27ee52;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Add this line */

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: rgb(4, 5, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #b5fbaa;
  }

  .active {
    background-color: #12f312;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #27ee52;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Add this line */

  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: rgb(4, 5, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #b5fbaa;
  }

  .active {
    background-color: #12f312;
  }

  span {
      display:flex;
      flex-direction: row;
    }

  li.searchBox {
    float: right;
  }
  
    li input {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #45f16a;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
  }
  li input:hover {
    scale: 1.05;
    transition: 300ms;
  }

    li button {
    border: none;
    outline: none;
    height: 35px;
    padding: 5px 15px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #27ee52;
    box-shadow: inset 5px 5px 10px rgba(10, 10, 10, 0.3);
  }
  li button:hover {
    scale: 1.05;
    transition: 300ms;
  }
  li button:active {
    box-shadow: inset 5px 5px 10px rgba(2, 2, 2, 0.3);
    transform: translateY(2px);
  }
  li button:focus {
    outline: none;
  }
  li button:focus-visible {
    outline: 2px solid #46f312;
    outline-offset: 2px;
  }
  
}

